footer
    nav.nav__footer
        ul.nav__links.footer__ul.space__around
            li 
                a(href="https://www.linkedin.com/in/dean-flanagan/") 
                    img(src='linkedin.png')
            li 
                a(href="https://github.com/spankyf") 
                    img(src='github.png')
            li 
                a(href="https://stackoverflow.com/users/4889550/noblerthanoedipus") 
                    img(src='stackoverflow.png')
    a.cta(href="mailto:deanflanagan@gmail.com") 
        button Contact