header
    img.logo(src="https://www.pngonly.com/wp-content/uploads/2017/06/Rabbit-White-Gray-PNG.png" alt="Pinnacle logo" )
    nav 
        ul.nav__links
            li 
                a(href="#") Refresh
            li 
                a(href="#") About
    a.cta(href="#") 
        button Contact