header
    img.logo(src="https://www.pngonly.com/wp-content/uploads/2017/06/Rabbit-White-Gray-PNG.png" alt="Pinnacle logo" )
    
    h1 Rabbit Habit 

    nav 
    if user

        ul.nav__links
            li 
                a(href="/me") My Profile
            li 
                a(href="/logout") Logout
            li 
                a(href="/overview") Home
            li 
                a(href="/goals") My Goals
    else
        ul.nav__links
            li 
                a(href="/about") About 
            li 
                a(href="/login") Login
            li 
                a(href="/") Start Here

    a.cta(href="mailto:deanflanagan@gmail.com") 
        button Contact