h2.content__title Here are your sleep stats!
.welcome__container
    
    .welcome__card
        h3 Sleeps daily
        img(src= 'latestGraph.png', alt='sometext')

    .welcome__card
        p You're sleeping an average of 7.5 hours a night
        p You sleep gte your goal 45% of nights
        p The average deviation is 20 minutes
        p The correlation between drink and sleep is
        p The correlation between exercise and sleep is
        p You get on average less sleep on weekends than weekdays by x
        p The correlation with daylight hours is x
        p= stats



    