doctype html
html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel="stylesheet" type="text/css" href="/styles.css")
      link(rel="stylesheet" type="text/css" href="/overviewCard.css")
      title Rabbit Habit | #{title}
     

  body
    // HEADER
    include ../partials/_header

    // CONTENT
    block content


    // FOOTER
    include ../partials/_footer

    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js')
    script(src='/js/login.js')