doctype html
html(lang="en")
  head
    title= title
    script(type='text/javascript').
      if (foo) bar(1 + 5)
    link(rel="stylesheet" type="text/css" href="/styles.css")
  body
    include ../partials/_header
    .habit-container
      h1= something
      ul
        each val in data
          val


      a(href='/sleep') Click here to go to sleep page
    
    p Did you log today?
    p= loggedToday
