doctype html
html(lang="en")
  head
    title= title
    script(type='text/javascript').
      if (foo) bar(1 + 5)
  body
    h1= something
    p The length of the data is 
    p= len
    p Wlecom to the overview page
    p= data