doctype html
html(lang="en")
  head
    title= title

    link(rel="stylesheet" type="text/css" href="/styles.css")
  body
    include ../partials/_header
    include ../partials/_welcome
    include ../partials/_footer